<div class="h-screen flex flex-col bg-teal-50">
  <!-- Header Section -->
  <header class="flex flex-row justify-center bg-teal-600 py-1">
    <img src="features_white.png" alt="logo" class="h-10 w-10 sm:h-12 sm:w-12 p-2">
    <h1 class="text-xl sm:text-3xl font-semibold text-white text-center sm:text-left mt-2 sm:mt-0">
      Product Management System
    </h1>
  </header>

  <!-- Main Content Section -->
  <main class="flex-grow overflow-y-auto">
    <app-product-list></app-product-list>
  </main>
</div>
